{% extends "connect/layout.html" %}

{% load static %}

{% block extra_js %}
<script type="module" src="{% static 'connect/js/download-file.js' %}"></script>
{% endblock %}

{% block title %}
Download File
{% endblock %}

{% block body %}

<h1>Download File</h1>

{% if peer_directory %}

<!-- Form to input file -->
<form id="torrent-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file-input">Choose a torrent file:</label>
    <input type="file" id="torrent-file" name="torrent_file" required><br><br>
    <button type="button" id="download-btn" class="btn btn-primary">Download file</button>
</form>

<div id="status">
    <p id="status-message"></p>
    <div class="progress">
        <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div id="timer">
        <p>Elapsed Time: <span id="elapsed-time">0</span> seconds</p>
    </div>

</div>

{% else %}
<div>
    Click <a href="{% url 'index' %}" class="btn btn-primary">here</a> to set information first.
</div>
{% endif %}

{{ peer_id|json_script:"django-sender-peer-id" }}

{% endblock %}